body {
    margin: 0;
    padding: 0;
    background-color: #1a1a2e; /* Un fondo elegante oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game-container {
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    border-radius: 4px;
    overflow: hidden;
}
